<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Throughout my career, I've worked on a diverse range of projects, from scholarly journals and academic textbooks to instructional guides and technical manuals. I've honed my craft as a wordsmith and take pride in transforming complex ideas into engaging and accessible content that captivates the reader.
            </p>
            <p class="paragraph-text justify-text">
                As a lifelong learner and passionate educator, I believe in the transformative power of knowledge and the importance of clear and effective communication. My commitment to excellence and innovation drives me to explore new approaches and techniques to create content that is not only informative but also inspiring and empowering.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
