<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            <p class="paragraph-text justified-align">
                        I'm a certified editor and content copywriter skilled in crafting compelling content across various mediums, including multimedia resources like audio, video, and eBooks.
                    </p>
                <div class="project-technologies">

                    <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Projects</a>
                   <!-- <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">Copywriting</a>
                    <a id="webdev" class="semi-transparent-button with-border white-button" onclick="selected('webdev')">Editing</a>
                    <a id="native" class="semi-transparent-button with-border white-button" onclick="selected('native')">Native</a>
                    <a id="security" class="semi-transparent-button with-border white-button" onclick="selected('security')">Security</a>
                    <a id="diy" class="semi-transparent-button with-border white-button" onclick="selected('diy')">DIY</a> -->

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
