
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>
            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        As an editor and content copywriter, I have a diverse range of skills that extend beyond just the written word. With my proficiency in multimedia resources, including audio, video, ebooks, and more, I can bring your content to life in ways that will captivate your audience. Whether you need me to edit and polish your existing multimedia resources or create new ones from scratch, I have the expertise and passion to deliver results that exceed your expectations. Let's collaborate to produce top-quality content that engages and inspires your target audience across all mediums.
                    </p>
                </div>
                <div class="technical-skills">
                
                    <!-- ADDED SECTION - LANGUAGES -  -->
                    
                    <!-- ADDED SECTION - English -  -->
                    
                    <h3 class="center-align skills-subsection">LANGUAGES</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="87%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>English</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                                       
                    <!-- ADDED SECTION - Spanish -  -->
                        <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="98%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Spanish</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>                        
                                                      
                    <!-- END ADDED SECTION - LANGUAGES -  -->
                    
                  <h3 class="center-align skills-subsection">OTHER SKILLS</h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MS-Office</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>MS-Office Advanced</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>SEO/SEM Marketing</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title" style="background: #2980b9;"><span>Project Management</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                   </div>
                </div>
            </div>
        </div>
    </section>
</div>
